{% extends "users/base.html"%}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="content_section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form_group">
                <legend class="border_bottom mb-4">Enter the room name</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Enter</button>
            </div>
        </form>
    </div>
{% endblock content %}